<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="160" android:versionName="1.6" package="com.twansoftware.basedroid">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:debuggable="true" android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Theme.Sherlock">
        <activity android:label="@string/app_name" android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.examples.ListActivityExample"/>
        <activity android:name=".ui.examples.ActionBarButtonsExample"/>
        <activity android:name=".ui.examples.ViewPagerExample"/>
    </application>
</manifest>